In [1]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
pd.get_dummies(df) # Tratativa para variáveis categóricas (no pandas)

,total_bill,tip,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,1.01,2,False,True,False,True,False,False,False,True,False,True
1,10.34,1.66,3,True,False,False,True,False,False,False,True,False,True
2,21.01,3.50,3,True,False,False,True,False,False,False,True,False,True
3,23.68,3.31,2,True,False,False,True,False,False,False,True,False,True
4,24.59,3.61,4,False,True,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,True,False,False,True,False,False,True,False,False,True
240,27.18,2.00,2,False,True,True,False,False,False,True,False,False,True
241,22.67,2.00,2,True,False,True,False,False,False,True,False,False,True
242,17.82,1.75,2,True,False,False,True,False,False,True,False,False,True
243,18.78,3.00,2,False,True,False,True,True,False,False,False,False,True

In [3]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='if_binary')
encoder

OneHotEncoder(drop='if_binary')

categorical_columns = df.select_dtypes(exclude='number').columns

encoder.fit(df[categorical_columns])

encoder.categories_ # Mostra a ordem de categorias por coluna
encoder.drop_idx_
encoder.feature_names_in_ # Categorias entradas no modelo
encoder.get_feature_names_out() # Como ficará depois de aplicado o modelo

encoder.transform(df[categorical_columns]).toarray()

array([[0., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [1., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [4]:
pd.DataFrame(
  data = encoder.transform(df[categorical_columns]).toarray(),
  columns = encoder.get_feature_names_out()
)

     sex_Male  smoker_Yes  day_Fri  day_Sat  day_Sun  day_Thur  time_Lunch
0         0.0         0.0      0.0      0.0      1.0       0.0         0.0
1         1.0         0.0      0.0      0.0      1.0       0.0         0.0
2         1.0         0.0      0.0      0.0      1.0       0.0         0.0
3         1.0         0.0      0.0      0.0      1.0       0.0         0.0
4         0.0         0.0      0.0      0.0      1.0       0.0         0.0
..        ...         ...      ...      ...      ...       ...         ...
239       1.0         0.0      0.0      1.0      0.0       0.0         0.0
240       0.0         1.0      0.0      1.0      0.0       0.0         0.0
241       1.0         1.0      0.0      1.0      0.0       0.0         0.0
242       1.0         0.0      0.0      1.0      0.0       0.0         0.0
243       0.0         0.0      0.0      0.0      0.0       1.0         0.0

[244 rows x 7 columns]

In [5]:
encoder.transform(df[categorical_columns].replace({'Male': 'male'})) # Modelo ainda não visto

ValueError: Found unknown categories ['male'] in column 0 during transform