In [17]:
import pandas as pd

PATH = 'https://query.data.world/s/2gfb7bmzhna6kcbpc7admwa6cexprz'
df   = pd.read_csv(PATH, usecols=['Date', 'Fatalities'], parse_dates=['Date']).dropna() # O argumento passado em 'parse_dates=' é a coluna que se quer converter para o formato data
print(df.shape)
df.head()

(5256, 2)

        Date  Fatalities
0 1908-09-17         1.0
1 1912-07-12         5.0
2 1913-08-06         1.0
3 1913-09-09        14.0
4 1913-10-17        30.0

In [ ]:
df.dtypes

In [27]:
df         = pd.read_csv(PATH, usecols=['Date', 'Fatalities']).dropna()
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y') # O argumento passado em 'format=' garante que a data será lida e convertida de forma correta

print(df.shape)
df.head()

(5256, 2)

        Date  Fatalities
0 1908-09-17         1.0
1 1912-07-12         5.0
2 1913-08-06         1.0
3 1913-09-09        14.0
4 1913-10-17        30.0

In [24]:
df.dtypes

Date          datetime64[ns]
Fatalities           float64
dtype: object