In [2]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.pivot_table(index='sex', columns='day', values='tip') # O pivot_table pode ser uma forma mais agrad√°vel de se visualizar o agrupamento de dados

day         Thur       Fri       Sat       Sun
sex
Male    2.980333  2.693000  3.083898  3.220345
Female  2.575625  2.781111  2.801786  3.367222

In [4]:
df.groupby(['sex', 'day'])['tip'].mean() # Groupby equivalente ao pivot_table acima

sex     day
Male    Thur    2.980333
        Fri     2.693000
        Sat     3.083898
        Sun     3.220345
Female  Thur    2.575625
        Fri     2.781111
        Sat     2.801786
        Sun     3.367222
Name: tip, dtype: float64

In [5]:
df.pivot_table(index='sex', columns='time', values=['total_bill', 'tip'], aggfunc='sum')

          tip         total_bill
time    Lunch  Dinner      Lunch   Dinner
sex
Male    95.11  389.96     595.60  2661.22
Female  90.40  156.11     571.87   999.08

In [6]:
import numpy as np

df.pivot_table(index='sex', columns=['time', 'day'], values=['total_bill', 'tip'], aggfunc=np.mean)

             tip                                             total_bill  \
time       Lunch        Dinner                                    Lunch
day         Thur    Fri   Thur       Fri       Sat       Sun       Thur
sex
Male    2.980333  1.900    NaN  3.032857  3.083898  3.220345  18.714667
Female  2.561935  2.745    3.0  2.810000  2.801786  3.367222  16.648710


time              Dinner
day           Fri   Thur        Fri        Sat        Sun
sex
Male    11.386667    NaN  23.487143  20.802542  21.887241
Female  13.940000  18.78  14.310000  19.680357  19.872222

In [7]:
df.groupby(['sex', 'time', 'day'])[['total_bill', 'tip']].median()

                    total_bill    tip
sex    time   day
Male   Lunch  Thur      16.975  2.530
              Fri       12.160  1.920
              Sat          NaN    NaN
              Sun          NaN    NaN
       Dinner Thur         NaN    NaN
              Fri       22.490  3.000
              Sat       18.240  3.000
              Sun       20.725  3.085
Female Lunch  Thur      13.420  2.000
              Fri       14.700  2.750
              Sat          NaN    NaN
              Sun          NaN    NaN
       Dinner Thur      18.780  3.000
              Fri       15.380  3.000
              Sat       18.360  2.625
              Sun       17.410  3.500

In [10]:
df.pivot_table(index='sex', columns='time', values='tip', aggfunc=['mean', np.median, np.std, lambda x: x.sum()])

            mean           median              std           <lambda>
time       Lunch    Dinner  Lunch Dinner     Lunch    Dinner    Lunch  Dinner
sex
Male    2.882121  3.144839   2.31    3.0  1.329017  1.529116    95.11  389.96
Female  2.582857  3.002115   2.01    3.0  1.075108  1.193483    90.40  156.11

In [11]:
agg_dict = {'tip': 'mean', 'total_bill': [np.median, 'min']}

df.pivot_table(index='sex', columns='time', aggfunc=agg_dict)

             tip           total_bill
            mean               median          min
time       Lunch    Dinner      Lunch Dinner Lunch Dinner
sex
Male    2.882121  3.144839      16.58  19.63  7.51   7.25
Female  2.582857  3.002115      13.42  17.19  8.35   3.07

In [12]:
df_pivot = df.pivot_table(index='day', columns='time', values='tip').reset_index()
df_pivot

time   day     Lunch    Dinner
0     Thur  2.767705  3.000000
1      Fri  2.382857  2.940000
2      Sat       NaN  2.993103
3      Sun       NaN  3.255132

In [14]:
df_pivot.melt(id_vars='day')

    day    time     value
0  Thur   Lunch  2.767705
1   Fri   Lunch  2.382857
2   Sat   Lunch       NaN
3   Sun   Lunch       NaN
4  Thur  Dinner  3.000000
5   Fri  Dinner  2.940000
6   Sat  Dinner  2.993103
7   Sun  Dinner  3.255132

In [15]:
df_pivot.melt(id_vars='day').plot.bar(backend='plotly', x='day', y='value', color='time', barmode='group')

In [13]:
pvt = df.pivot_table(index='sex', columns='time', values=['total_bill', 'tip'], aggfunc='sum')
pvt.to_excel('pvt.xlsx')
pvt

          tip         total_bill
time    Lunch  Dinner      Lunch   Dinner
sex
Male    95.11  389.96     595.60  2661.22
Female  90.40  156.11     571.87   999.08